<container class="top-footer">
	<row class="containerized">
		<columns class="outer">
			<row class="inner-row">
				<columns>
					<p>How do I know this email really came from iD Mobile?</p>
				</columns>
			</row>
			<row class="smallish-print">
				<columns><p>This email contains the last 4 digits of your account and mobile number. It also contains your first name if given to us. If we ever ask you to make a payment or update your details, we'll include all three in the email (whenever possible).</p>
				</columns>
			</row>
		</columns>
	</row>
</container>

<!-- <spacer size="12"></spacer> -->


<container class="mid-footer">
	<row>
		<columns class="outer">
			<row class="inner-row">
				<columns small="12" large="12" class="color-fill">
					<row>
						<columns large="3" small="3" valign="middle">
							<img src="https://imgur.com/5u84J5L.png" class="circle-logo">
						</columns>
						<columns large="9" small="9" class="info-section" valign="middle">
							<span class="call-to-action">Still have questions about your bill?
							</span>
							<a href="#"><p class="special_para">Ask our community →</p></a>
						</columns>
					</row>
				</columns>
			</row>
			
		</columns>
	</row>
</container>

<!--   -->


<container class="bottom-footer">
	<row class="outer-row">
		<columns class="pre-inner-row">
			<row class="actual-inner-row">
				<columns>
					<p class="tos">Terms and conditions</p>
					<p class="privacy">Privacy Policy</p>
					<p class="first-para">This is a service message sent to you by <a href="#">idmobile.co.uk.</a></p>
					<p class="second-para">Please do not reply to this email. For further information please refer to our <a href="#">FAQs</a> or <a href="#">Help & Support</a> pages.</p>
					<p class="third-para">This email was sent on 17/04/2023.</p>
					<p class="fourth-para">iD Mobile is a trading name of Currys Group Limited</p>
					<p class="fourth-para">iD Mobile and Currys Group Limited registered address is 1 PORTAL WAY, London, W3 6RS</p>
					<p class="fourth-para">Company registration number 00504877, iD P.O.Box 686, Salford, M5 0PA</p>

					
				</columns>
			</row>
			<!-- <row class="actual-inner-row">
				<columns><p class="save_amount"></p>
				</columns>
			</row> -->
		</columns>
	</row>
</container>
