    <spacer size="16"></spacer>
    <container class="logo-container">
        <row>
            <columns class="outer-row">
                <row class="logo-row">
                    <columns small="12" large="12" valign="middle">
                        <img  title="iD mobile" class="float-center id-mobile-logo" style="  color: rgb(0, 0, 1);" alt="iD mobile" src="https://imgur.com/oKSzcDt.png" border="0">
                    </columns>
                </row>
                <row>
                    <columns class="top-menu">
                       <center>
                          <menu>
                            <item class="menu-item" href="#">iD Mobile App</item>
                            <item class="menu-item" href="#">iD Community</item>
                        </menu>
                    </center>
                </columns>

            </row>
        </columns>
    </row>
</container>
